body{
    background: #f4f4f4;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-container{
    margin-top: 30px;;
    background: #fff;
    padding: 30px;
    border-radius:10px;

}

h1{
    text-align: center;
    margin-bottom: 20px;
    margin-left: 500px;
    display:inline-block;
    
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
    font-size: 16px;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}